@media screen and (min-width: 300px) and (max-width: 480px) {

    header {
        padding: 20px;
    }

    header p {
        font-size: 32px;
    }

    .introduction, .github {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .introduction-text, .github-text {
        margin: 0px;
        text-align: center;
    }

    .introduction h2, .github h2 {
        font-size: 34px;
        margin: 0px;
    }

    .introduction p, .github p {
        text-align: center;
        margin-top: 10px;
    }

    .introduction img, .github img {
        width: 270px;
        height: 270px;
        margin: 0px;
    }

    .stats, .l-containers {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .s-container-1, .s-container-2, .s-container-3 {
        width: 45vh;
        height: 35vh;
    }

    .github button {
        margin: 0px;
        width: 150px;
        height: 50px;
    }

    .languages h2 {
        font-size: 36px;
        margin: 0px 0px 7px 0px;
    }

    .l-container-1, .l-container-2, .l-container-3 {
        text-align: center;
        width: 45vh;
        height: 57vh;
    }

    .l-container-1 p {
        margin-top: 7vh;
    }

    footer p {
        font-size: 16px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 375px) {

    header p {
        font-size: 35px;
    }
    
    .introduction img, .github img {
        width: 330px;
        height: 330px;
    }

    .s-container-1, .s-container-2, .s-container-3 {
        width: 20em;
        height: 25vh;
    }

    .l-container-1, .l-container-2, .l-container-3 {
        width: 25em;
        height: 34vh;
    }

    .l-container-1 p {
        margin-top: 7vh;
    }
}

@media screen and (min-width: 425px) and (max-width: 480px) {

    header p {
        font-size: 40px;
    }
    
    .introduction img, .github img {
        width: 350px;
        height: 350px;
    }

    .s-container-1, .s-container-2, .s-container-3 {
        width: 65vh;
        height: 35vh;
    }

    .l-container-1, .l-container-2, .l-container-3 {
        width: 65vh;
        height: 50vh;
    }

    .l-container-1 p {
        margin-top: 6vh;
    }
}
